<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>WiPy</title>
    <link
            href="{{ url_for('static',filename='styles/style_download_open.css') }}"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">
    <div class="section">
        <a href="/download_open/download" style="text-decoration: none">
            <div>
                <p>Download</p>
            </div>
        </a>
    </div>

    <div class="section">
        <a href="/download_open/open" style="text-decoration: none">
            <div>
                <p>Open</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>
