<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WiPi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style_download_open.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="section">
        <a href="/download_open/download" style="text-decoration: none">
          <div>
            <p>Download</p>
          </div>
        </a>
      </div>

      <div class="section">
        <a href="/download_open/open" style="text-decoration: none">
          <div>
            <p>Open</p>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
